<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Lidar Plugin -->
  <gazebo>
    <sensor type="ray" name="lidar">
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>-1.57</min_angle>
            <max_angle>1.57</max_angle>
          </horizontal>
        </scan>
      </ray>
    </sensor>
  </gazebo>

  <!-- IMU Plugin -->
  <gazebo>
    <sensor type="imu" name="imu_sensor">
      <update_rate>50</update_rate>
    </sensor>
  </gazebo>

</robot>
